@import "../../assets/colors";
@import "../../assets/fonts";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px 30px 30px;
  background-color: $white;
  //margin-bottom: 90px;
  .navBarLinks ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    li:nth-child(1) {
      margin-right: 10px;
    }
    button {
      cursor: pointer;
      border: none;
      text-decoration: none;
      font-family: "Roboto-300";
      font-size: 20px;
      line-height: 25px;
      color: $footer_dark-blue;
    }
  }
}